<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shentu.mapper.StudentMapper">

    <resultMap id="StudentMap" type="com.shentu.pojo.Student">
        <!--主键-->
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="password" property="password"/>
    </resultMap>

    <!--if使用-->
    <select id="selectIf" resultMap="StudentMap">
        select id,name,password from student
        where 1=1
        <if test="name!=null and name!=''">
            and name = #{name}
        </if>
        <if test="password!=null and password!=''">
            and password = #{password}
        </if>
    </select>

    <!--where使用-->
    <select id="where" resultMap="StudentMap">
        select id,name,password from student
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name!=null and name!=''">
                and name = #{name}
            </if>
            <if test="password!=null and password!=''">
                and password = #{password}
            </if>
        </where>
    </select>

    <!--测试trim使用-->
    <select id="trim" resultMap="StudentMap">
        select id,name,password from student
        <trim prefix="where" prefixOverrides="and">
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="id != null">
                and id = #{id}
            </if>
        </trim>
    </select>

    <!-- 有name的时候使用name搜索，没有的时候使用id搜索 -->
    <!--choose-->
    <select id="choose" resultMap="StudentMap">
        select * from student
        where 1=1
        <choose>
            <when test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </when>
            <when test="id != null">
                and id = #{id}
            </when>
        </choose>
    </select>

    <!--set-->
    <update id="set" parameterType="com.shentu.pojo.Student">
        update student
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="password != null and password != ''">
                password = #{password}
            </if>
        </set>
        where id = #{id}
    </update>

    <!--foreach-->
    <select id="foreach" resultMap="StudentMap">
        select * from student
        where id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <!--foreach插入-->
    <insert id="foreachInsert" parameterType="java.util.List">
        insert into student(name,password)
        values
        <foreach collection="list" item="student" separator=",">
            (#{student.name},#{student.password})
        </foreach>
    </insert>
</mapper>